<plugin name='counter' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/counter</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>CounterController</resource>
    <resource>Counter</resource>
    <resource>CounterService</resource>
    <resource>CounterTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>