<plugin name='counter' version='0.1.3' grailsVersion='2.3 &gt; *'>
  <author>Stefan Urbansky</author>
  <authorEmail>urbansky@e-learning-service.de</authorEmail>
  <title>Manage Counters</title>
  <description>\
This plugin manage counters, e.g. you can create a simple access statistic for a website or it 
can be used as back-end for polling or voting. 
Every counter has a name and every increment is logged with date and time.
With the provided Taglib you can create line graphs for a monthly statistic.
</description>
  <documentation>http://www.webapp-blogger.de/grails-plugin-counter/</documentation>
  <type>CounterGrailsPlugin</type>
  <resources>
    <resource>CounterPluginResources</resource>
    <resource>CounterController</resource>
    <resource>Counter</resource>
    <resource>CounterService</resource>
    <resource>CounterTagLib</resource>
  </resources>
</plugin>